#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 400px;
  margin: 0 auto;
  text-align: start;
}

.form button {
  align-self: flex-start;
}
